body {
  margin: 0;
  font-family: system-ui;
  background: #f4f6f8;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 1.5rem;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.8rem;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}
